<app-offices-header></app-offices-header>
<div class="offices">
  <div class="offices__controls">
    <app-button
      [title]="'Add New Office'"
      (handleClick)="handleForm(true)">
    </app-button>
    <p class="offices__controls-count">{{officesCount$ | async}} Offices</p>
  </div>
  <app-office-editor
    *ngIf="isOpen"
    [office]="{}"
    (saveForm)="createOffice($event)"
    (closeForm)="handleForm(false)">
  </app-office-editor>
  <div class="offices__list">
    <div *ngFor="let office of offices$ | async" class="controls__offices-office">
      {{office.name}}
      <app-office-card
        *ngIf="office.id !== activeEditId"
        [office]="office"
        (remove)="removeOffice($event)"
        (openEditForm)="showEditForm($event)">
      </app-office-card>
      <app-office-editor
        *ngIf="office.id === activeEditId"
        [office]="office"
        (closeForm)="handleForm(false)"
        (saveForm)="updateOffice($event)">
      </app-office-editor>
    </div>
  </div>
</div>

<app-offices-footer></app-offices-footer>
