$main-header-background-color: rgb(23, 87, 134);
$main-color: rgb(255, 255, 255);
$main-font-family: Open Sans,sans-serif;
$main-controls-color: rgb(83, 104, 126);
$main-menu-background-color: rgb(233, 240, 245);
$main-menu-border-color: rgb(216, 221, 227);
$button-border-color: rgb(214, 214, 214);
$main-inactive-opacity: 0.5;
