<div class="menu">
  <app-menu-header></app-menu-header>
  <app-menu-item [title]="'Company Info'"></app-menu-item>
  <div class="menu__simple-container">
    <a class="menu__simple" href="/">Basic Info</a>
    <a class="menu__simple menu__simple-active" href="/">Offices</a>
    <a class="menu__simple menu__simple-inactive" href="/">Competitors</a>
  </div>
  <app-menu-item [title]="'My Firms'"></app-menu-item>
  <app-menu-item [title]="'Details'"></app-menu-item>
  <app-menu-item [title]="'Financial\'s'"></app-menu-item>
</div>
