<div class="offices-footer">
  <div class="offices-footer__buttons">
    <app-button class="offices-footer__buttons-element" [title]="'Back'"></app-button>
    <app-button class="offices-footer__buttons-element" [title]="'Provide additional comments'"></app-button>
  </div>
  <div class="offices-footer__buttons">
    <app-button class="offices-footer__buttons-element" [title]="'Skip this step'"></app-button>
    <app-button class="offices-footer__buttons-element" [title]="'Continue'"></app-button>
  </div>
</div>
