.offices-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 35px;
  &__buttons {
    display: flex;

    &-element {
      padding-right: 15px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
